@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('react-calendar/dist/Calendar.css');

@layer utilities {
	.remove-arrows-input-number {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		& {
			-moz-appearance: textfield;
		}
	}

	.blue-focus-visible {
		@apply focus-visible:outline focus-visible:outline-blue-500 focus-visible:outline-2 focus-visible:duration-0;
	}

	.blue-big-focus-visible {
		@apply focus-visible:outline focus-visible:outline-blue-500 focus-visible:outline-3 focus-visible:duration-0;
	}

	.blue-focus-visible-border {
		@apply focus-visible:border-blue-500 focus-visible:border-2 focus-visible:duration-0 focus-visible:outline-none;
	}

	.pink-focus-visible {
		@apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-pink-500 focus-visible:duration-0;
	}

	.pink-big-focus-visible {
		@apply focus-visible:outline focus-visible:outline-3 focus-visible:outline-pink-500 focus-visible:duration-0;
	}

	.black-big-focus-visible {
		@apply focus-visible:outline focus-visible:outline-3 focus-visible:outline-black focus-visible:duration-0;
	}

	.logo-text {
		@apply hover:text-pink-500 text-cyan-900 hover:duration-200 font-mono text-xl font-semibold tracking-tight;
	}

	.active-menu-link {
		@apply hover:text-sky-400 hover:drop-shadow-sky-400-01 text-pink-400;
	}

	.disactive-menu-link {
		@apply hover:text-cyan-800 text-gray-700;
	}

	.stone-link {
		@apply text-stone-500 inline font-light;
	}

	.sky-link {
		@apply text-sky-500 drop-shadow-sky-400-01;
	}

	.pink-link {
		@apply drop-shadow-pink-400-02 text-pink-400;
	}

	.pink-hover {
		@apply hover:text-pink-400 hover:duration-200 hover:drop-shadow-pink-400-02;
	}

	.pink-hover-fill {
		@apply hover:fill-pink-400 hover:duration-200 hover:drop-shadow-pink-400-02;
	}

	.sky-hover {
		@apply hover:drop-shadow-sky-400 hover:text-sky-400 hover:duration-200;
	}
}
